@font-face {
    font-family: GideonFont;
    src: url(./fonts/GideonRoman-Regular.ttf);
  }

/* main{
    display:grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto;
    grid-gap:10px;
} */

/* solution from discort for a responsive grid https://css-tricks.com/a-responsive-grid-layout-with-no-media-queries/ */
body{
    background-color: lightgrey;
    font-family: GideonFont;
}
main{
    --auto-grid-min-size: 16rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
    grid-gap: 20px;
}
article{
    background-color: white;
    padding:30px 20px 30px 20px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align:center;

}
article:hover{
    -webkit-box-shadow: -3px 12px 15px 1px rgba(0,0,0,0.3); 
    box-shadow: -3px 12px 15px 1px rgba(0,0,0,0.3);
}
p{
    color:grey;
}
a{
    padding:10px 20px;
    color: grey;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
}
a:hover{
    padding:10px 20px;
    border-radius: 20px;
    background-color: rgb(134, 134, 236);
    color:white;
}


