/* main{
    display:grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto;
    grid-gap:10px;
} */

/* solution from discort https://css-tricks.com/a-responsive-grid-layout-with-no-media-queries/ */
main{
    --auto-grid-min-size: 16rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
    grid-gap: 20px;
}
section{
    padding:30px 20px 30px 20px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
section:hover{
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.4); 
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.4);
}

