@font-face {
    font-family: Gideon;
    src: url(./fonts/GideonRoman-Regular.ttf);
}
@font-face {
    font-family: Arimo;
    src: url(./fonts/Arimo-VariableFont_wght.ttf);
  }
:root{
    --auto-grid-min-size: 16rem;
    --card-gap: 20px;
    --text-color: grey;
    --article-back-link-color:white;
    --button-color:rgb(134, 134, 236);
}
body{
    background-color: lightgrey;
    font-family: Arimo,'Times New Roman', Times, serif;
}
/* solution from discort for a responsive grid https://css-tricks.com/a-responsive-grid-layout-with-no-media-queries/ */
main{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
    grid-gap: var(--card-gap);
}
article{
    background-color: var(--article-back-link-color);
    padding:30px 20px 30px 20px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align:center;
    border-radius: 10px;

}
article:hover{
    -webkit-box-shadow: -3px 12px 15px 1px rgba(0,0,0,0.3); 
    box-shadow: -3px 12px 15px 1px rgba(0,0,0,0.3);
}
p{
    color:var(--text-color);
}
a{
    padding:10px 20px;
    color: var(--text-color);
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
}
a:hover{
    padding:10px 20px;
    border-radius: 20px;
    background-color: var(--button-color);
    color:var(--article-back-link-color);
}


